code/picai_labels-main/anatomical_delineations/whole_gland/AI/Bosma22b/10000_1000000.nii.gz
code/picai_labels-main/anatomical_delineations
code/picai_labels-main/csPCa_lesion_delineations
data/6624726/